{% extends 'base.html' %}

{% block title %}Análise de Gráficos{% endblock %}

{% block content %}
<!-- Barra de navegação -->
<div id="barra-navegacao">
    <a href="{{ url_for('charts') }}" class="nav-link active">Gráficos</a>
    <a href="{{ url_for('tables') }}" class="nav-link">Tabelas</a>
</div>

<!-- Conteúdo principal -->
<main>
    <div class="content">
        <h2>Monitoramento de Gastos Públicos - DF</h2>

        <!-- Div onde o gráfico será exibido -->
        <div id="grafico-plotly"></div>
    </div>
</main>

<!-- Scripts para os gráficos -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Garantir que as variáveis sejam válidas
    var meses = {{ meses | tojson }};
    var soma_mensal = {{ soma_mensal | tojson }};
    var titulo = 'Gastos Mensais';

    // Dados do gráfico
    var dadosPlotly = {
        x: meses,
        y: soma_mensal,
        type: 'bar'
    };

    // Configurações do gráfico inicial
    var layout = {
        title: titulo
    };

    // Renderizar gráfico inicial
    Plotly.newPlot('grafico-plotly', [dadosPlotly], layout);
</script>
{% endblock %}
