body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005200;
    color: white; 
    font-family: "Times New Roman", serif;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #021964;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    padding: 10px 20px;
}
nav ul li a:hover {
    background-color: #323285; 
    border-radius: 5px;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

th {
    background-color: #191970;
    color: white;
}

footer {
    background-color: #00063a;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body.index-page {
    background-image: url('/static/images/fundo.jpg'); /* Caminho para a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover;        /* Faz com que a imagem cubra toda a tela */
    background-attachment: fixed; /* Faz o fundo permanecer fixo ao rolar a página */
    background-position: center;  /* Centraliza a imagem */
    color: black;                 /* Torna o texto legível (opcional) */
    font-family: "Times New Roman", serif;
}

.content {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco translúcido */
    padding: 20px;
    border-radius: 10px;                  /* Arredonda as bordas */
    max-width: 1200px;                     /* Limita a largura do conteúdo */
    margin: 100px auto;                   /* Centraliza o conteúdo na página */
    text-align: left;                   /* Centraliza o texto */
    color: black;                         /* Texto preto */
}




form[action="{{ url_for('tables') }}"] {
    margin-bottom: 2rem;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 1rem;
}

button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

form button {
    background-color: #0073e6;
    color: white;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

form button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

/* Estilos para a caixinha expansível */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-btn:hover {
    background-color: #005bb5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
