{% extends 'base.html' %}

{% block content %}
<body class="index-page">
    <!-- Conteúdo da página -->
    <div class="content">
        <h1>Bem-vindo ao Projeto de Análise de Gastos Públicos</h1>
        <h1> Descrição do projeto</h1>
        <p>
            Este projeto consiste na criação de um site hospedado no GitHub Pages para a 
            análise e visualização dos gastos públicos do Distrito Federal. O objetivo é
            proporcionar uma plataforma acessível que permita aos cidadãos, estudantes e
            profissionais entender e acompanhar a alocação de recursos públicos no DF, 
            promovendo transparência e conscientização.
        </p>
        <h1> Objetivos</h1>
        <p>1. Analisar e organizar dados públicos sobre os gastos do DF.</p>
        <p>2. Visualizar dados de forma intuitiva para facilitar a compreensão.</p>
        <p>3. Promover transparência ao permitir que os usuários acompanhem os gastos em diferentes setores, como saúde, educação e segurança.</p>
        <p>4. Aplicar práticas de desenvolvimento colaborativo usando Git e GitHub, alinhadas às boas práticas discutidas em sala de aula.</p>
        <h1> Tecnologias Utilizadas</h1>
        <p>HTML, CSS: Para a construção do front-end.</p>
        <p>Python: Para a construção do front-end.</p>
        <p>GitHub: Para controle de versão e colaboração entre os membros do grupo.</p>
        <p>GitHub Pages: Para hospedagem do site.</p>
        <h1> Colaboradores</h1>
        <p>Artur Mendonça Arruda</p>
        <p>Gabriel da Cunha Barbaceli</p>
        <p>Gabriel Lopes de Amorim</p>
        <p>João Pedro Costa</p>
        <p>Julia Gabriela Cunha Paulino</p>
        <p>Lucas Mendonça Arruda</p>
    </div>
</body>
{% endblock %}
